@use "src/styles/colors.scss" as colors;

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: colors.$color-dark-blue;
  color: white;
}
