@use "src/styles/colors" as colors;
@use "src/styles/mediaQuery" as mq;

.maker {
  flex: 1;
  text-align: center;

  padding: 0 50px;
  border-right: 1px solid colors.$color-light-grey;
  @media screen and (max-width: mq.$mediaQuery) {
    border-right: none;
    border-bottom: 1px solid colors.$color-light-grey;
  }
}
.title {
  color: colors.$color-green;
}
